<div id="carousel-div" class="row">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            
            {% for img in img_list %}
            {% if loop.first %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                <img class='carousel-image img-rounded' src='{{img.guid}}'/>
            </div>
            {% endfor %}
                    
        </div>

        <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>