<div id="content">
	{% for post in posts %}
		<div class="content-container">
			<div class="page-title">{{post.title}}</div>
			<div class="page-content">
				{{post.content}}
			</div><!-- content-container div -->
		</div>
	{% endfor %}
</div>