<!-- photo carousel -->
<div id="carousel-div" class="row">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
		{% for img in img_list %}
            <li data-target="#home-carousel" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active"{% endif %}></li>
		{% endfor %}
        </ol>
        <div class="carousel-inner">

            {% for img in img_list %}
            {% if loop.first %}
            <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                    <img class='carousel-image img-rounded' src='{{img.guid}}'/>
                </div>
            {% endfor %}

            </div>

            <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#home-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

<!-- content -->
<div id="content" class="container">
    <div class="row">
        <div class="content-container col-xs-12 col-md-12">   
        
	{% for post in posts %}
            <div class="content-container row">
                {# no title on home page <div class="page-title row">{{post.title}}</div> #}
                <div class="page-content row">
				{{post.content}}
                </div><!-- content-container div -->
            </div>
	{% endfor %}
	
        </div>
    </div>
</div>