<ul id="navmenu" class="horizontalList">
{% for page in page_list %}
{#    {{page|print_r}}#}
    <li {% if page.is_current_page == true %} class="current" {% endif %}>
        <a href="{{page.get_permalink}}">{{page.title}}</a>

{% if page.is_current_page == true %} <div class="uparrow"></div> {% endif %}
    </li>
{% endfor %}
</ul>